body {
    position: relative;
    margin: 0;
    line-height: 0;
    font-size: 16px;
}

.hidden {
    display: none !important;
}

#game {
    #waveNotification {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;

        .waveNotifierText {
            font-size: 200px;
            color: white;
        }
    }

    #feedbackText {
        background-color: aliceblue;
        position: absolute;
        color: white;
        background-color: darkred;
        margin: 0;
        padding: 2px;
        line-height: initial;
        border: 1px solid wheat;
    }

    #feedbackText.successful {
        background-color: darkgreen;
    }

    #gameHeader {
        position: absolute;
        display: flex;
        line-height: initial;

        #deckDisplayerButton:hover,
        #handButton:hover,
        #shopButton:hover,
        #playersButton:hover,
        #nextWaveButton:hover,
        #fullscreenButton:hover {
            background-color: darkgray;
            color: white;
        }

        #deckDisplayerButton,
        #handButton,
        #playersButton,
        #shopButton,
        #nextWaveButton,
        #fullscreenButton {
            border: none;
            cursor: pointer;
        }
    }

    #multiPlayerInfoContainer {
        background-color: aqua;
        position: absolute;
        display: flex;
        flex-direction: column;
        line-height: initial;
        top: 22px;
        padding: 4px;

        #playerNameContainer {
            padding: 4px;
        }

        #playerListContainer {
            #playerList {
                display: flex;
                flex-direction: column;
                padding: 0;
                margin: 0;

                .playerListElement {
                    font-weight: bold;
                    border: 1px solid red;
                    padding: 3px;
                    margin: 4px;
                    list-style-type: none;
                    background-color: rgb(247, 223, 227);
                }
            }
        }
    }

    #myResources {
        line-height: initial;
        margin: 0;
        padding: 0;
        background-color: white;
    }

    #deckDisplayerContainer {
        position: absolute;
        line-height: initial;
        left: 0;
        top: 22px;
        background-color: pink;
        min-width: 200px;

        #deckDisplayerHandTitle,
        #deckDisplayerDeckTitle,
        #deckDisplayerDiscardTitle {
            background-color: lightblue;
            padding: 4px;
            margin: 0;
            border-top: 1px solid darkblue;
            border-bottom: 1px solid darkblue;
        }

        #deckDisplayerHandContainer,
        #deckDisplayerDeckContainer,
        #deckDisplayerDiscardContainer {
            padding: 8px;
            font-weight: bold;
        }
    }

    #shopContainer .build,
    #cardsContainer .build {
        background-image: url("images/card_background.png");
        background-color: #FFD54F;
    }

    #cardsContainer .build:hover {
        background-color: #FFE082;
    }

    #cardsContainer .build.unattached,
    #cardsContainer .build.unattached:hover {
        background-color: #FFA000;
    }

    #shopContainer .power,
    #cardsContainer .power {
        background-image: url("images/card_background.png");
        background-color: #4FC3F7;
    }

    #cardsContainer .power:hover {
        background-color: #81D4FA;
    }

    #cardsContainer .power.unattached,
    #cardsContainer .power.unattached:hover {
        background-color: #0288D1;
    }

    #shopContainer {
        top: 22px;
        left: 0;
        position: absolute;
        line-height: initial;
        background-color: aqua;

        #shopHandText,
        #shopContentText {
            margin: 0;
            padding: 0;
        }

        #shopHandContainer,
        #shopContentContainer {
            display: flex;
            flex-wrap: wrap;
            padding-top: 4px;

            .shopCardContainer {
                transition: top 0.3s;
                top: 0px;
                border-radius: 6px;
                position: relative;
                box-sizing: border-box;
                line-height: initial;
                width: 90px;
                height: 110px;
                margin: 4px;
                padding: 8px;
                cursor: pointer;
                user-select: none;
                font-weight: bold;
                text-align: center;
                display: flex;
                justify-content: space-between;
                flex-direction: column;

                .cardHeaderContainer {
                    border-bottom: 1px solid black;
                }

            }

            .shopCardContainer:hover {
                top: -8px;
            }
        }
    }

    #cardsContainer {
        background-color: brown;
        position: absolute;
        left: 0;
        top: 22px;
        display: flex;
        flex-direction: column;

        #handContainer {
            display: flex;
            flex-direction: column;
            max-height: 354px;
            flex-wrap: wrap;

            .cardContainer {
                border-radius: 6px;
                transition: left 0.3s;
                left: 0px;
                position: relative;
                box-sizing: border-box;
                line-height: initial;
                width: 90px;
                height: 110px;
                margin: 4px;
                padding: 8px;
                cursor: pointer;
                user-select: none;
                font-weight: bold;
                text-align: center;
                display: flex;
                justify-content: space-between;
                flex-direction: column;

                .cardHeaderContainer {
                    border-bottom: 1px solid black;
                }

                .cardImageContainer {

                    .cardImage {
                        width: 16px;
                        height: 16px;
                    }
                }
            }

            .cardContainer:hover {
                left: 8px;
            }

            .unattached,
            .unattached:hover {
                left: 8px;
            }
        }
    }

    #gameCanvas {
        background: #74952F;
    }
}

#about,
#credits {
    section {
        width: 400px;
        margin: 0px;
        padding: 0px;
        background-color: navy;
        color: antiquewhite;
        border: 2px solid black;
        border-radius: 8px;
        text-align: justify;

        p {
            margin: 8px;
            padding: 8px;
        }
    }
}